header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 100%;
  padding: 18px;
}

nav {
  display: flex;
  gap: 36px;
  color: #385B4F;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: whitesmoke;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  text-decoration: none;
}

nav > a {
  color: #385B4F;
  font-size: 32px;
  font-weight: bold;
}

.star-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4%;
}

.star-card{
  display: flex;
  background-color: whitesmoke;
  border-radius: 8px;
  width: 200px;
  height: 100px;
  margin: 2%;
  justify-content: center;
  align-items: center;
}

.star-card > a {
  color: #385B4F;
  padding: 18px;
  font-weight: bold;
  text-align: center;
}

.centered-conditional {
  text-align: center;
}

.star-details {
  display: flex;
  flex-direction: column;
}

.detail-card {
  display: flex;
  background-color: whitesmoke;
  color: #385B4F;
  border-radius: 8px;
  width: 600px;
  height: 300px;
  margin: 10%;
  justify-content: center;
  align-items: center;
}

.detail-card > a {
  color: #385B4F;
  font-weight: bold;
}